<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<head>
	<title>Nowa spółka</title>
</head>

<body>
<section layout:fragment="content">
	
	<div class="container">
	
	<div class='col-lg-10 col-md-10 col-sm-10' style='padding-bottom: 10px;'>	  
	<div class="panel panel-default">
	<div class="panel-heading" th:text="#{employee.add.contract}"></div><br>
	<div class="panel-body">	
		  <form th:action="@{${#httpServletRequest.getRequestURI()}}" th:object="${newContract}" accept-charset='UTF-8' method="POST">	
		  

		  
				<div>
				
<!-- 					<div class="row">			
						<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
							<label for="employee.id_employee">Pracownik</label>
							<select th:field="*{employee.id_employee}" class="form-control" required="required">
    							<option th:each="c : ${employeeList1}" th:value="${c.id_employee}"
            							th:label="${c.first_name} + ' ' + ${c.last_name}">
            					</option>
          					</select>					
						</div>
					</div>  -->
					
					
					<div class="row">			
						<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
							<label for="id_company">Nazwa spółki</label>
							<select th:field="*{id_company}" class="form-control" required="required">
    							<option th:each="c : ${companyList}" th:value="${c.id_company}"
            							th:label="${c.name}">
            					</option>
          					</select>					
						</div>
					</div>	
					<div class="row">
						<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
							<label for="data_from">Data od</label>
							<input type="date" th:field="*{data_from}" class="form-control" required="required"/>
						</div>
					</div>
					<div class="row">
						<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
							<label for="data_to">Data do</label>
							<input type="date" th:field="*{data_to}" class="form-control" required="required"/>
						</div>
					</div>
	
					<div class="row">			
						<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
							<label for="id_type_of_contract">Rodzaj umowy</label>
							<select th:field="*{id_type_of_contract}" class="form-control" required="required" onchange="szukaj()">
    							<option th:each="t : ${typeOfContractList}" th:value="${t.id_type_of_contract}"
            							th:label="${t.name}">				
            					</option>
          					</select>	          					
						</div>
					</div>
					
<!-- 					<button type="button" onclick="hideElem()">Hide image</button>
					<button type="button" onclick="showElem()">Show image</button> -->
					
				
					<div id="name_div" style="visibility:hidden;">
					<div class="row">			
						<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
							<label for="name_of_replacement">Osoba zastępująca</label>
								<input type="text" th:field="*{name_of_replacement}" class="form-control">
						</div>
					</div>
					</div>

					

					  <script>
	                      function hideElem() 
	                      {
                          	document.getElementById("name_div").style.visibility = "hidden";
                          }
                          function showElem() 
                          {
							document.getElementById("name_div").style.visibility = "visible";
						  }
                          function szukaj()
                          {
                        	  if($("select#id_type_of_contract option:selected").val()==4)
                        	  {
                        		  document.getElementById("name_div").style.visibility = "visible";
                        		
                        	  }  
                        	  else
                        	  {
                        		  document.getElementById("name_div").style.visibility = "hidden";
                        	  }
                          }
                      </script>
				    <!--        <div th:if="${t.name} == 'Na zastępstwo'" onclick="showElem()"></div> -->
							<div class="row">						
								<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
									<label for="contract_status">Aktywna</label><br>
									<div>
										<label>Tak</label>
										<input type="radio" th:field="*{contract_status}" th:value="true"/>
										<label>Nie</label>
										<input type="radio" th:field="*{contract_status}" th:value="false"/>
										
									</div>
								</div>
							</div>
							

			
					<div class="submit">
						<a type="button" name="cancel" class="btn btn-default" th:href="${'/employee/contracts/' + id_employee}">Anuluj</a>
						<button type="submit" name="save" class="btn btn-success">Zapisz</button>
					</div><br>

					</div>		
			</form>
							</div>	
				</div>	
				</div>	
		</div>
		
		</section>
</body>
</html>