<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<head>
	<title>Nowy system</title>
</head>

<body>
	<section layout:fragment="content">
	<div class="container">
	<div class='col-lg-50 col-md-50 col-sm-50' style='padding-bottom: 10px;'>	
	<div class="panel panel-default">
	<div class="panel-heading" th:text="#{employee.add.systems}"></div>
	<div class="panel-body">	
		  <form th:action="@{${#httpServletRequest.getRequestURI()}}" th:object="${newSystem}" accept-charset='UTF-8' method="POST">	
				<div>
				
<!-- 					<div class="row">			
						<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
							<label for="employee.id_employee">Pracownik</label>
							<select th:field="*{employee.id_employee}" class="form-control" required="required">
    							<option th:each="c : ${employeeList1}" th:value="${c.id_employee}"
            							th:label="${c.first_name} + ' ' + ${c.last_name}">
            					</option>
          					</select>					
						</div>
					</div>  -->
					
					<div class="row">			
						<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
							<label for="id_systems">Nazwa systemu</label>
							<select th:field="*{id_systems}" class="form-control" required="required">
    							<option th:each="t : ${systemsList}" th:value="${t.id_systems}"
            							th:label="${t.name}">
            					</option>
          					</select>					
						</div>
					</div>	
					<div class="row">			
						<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
							<label for="id_company">Dane przetwarzane w ramach systemu</label>
							<select th:field="*{id_company}" class="form-control" required="required">
    							<option th:each="c : ${companyList}" th:value="${c.id_company}"
            							th:label="${c.name}">
            					</option>
          					</select>					
						</div>
					</div>	


				

							

			
					<div class="submit">
						<a type="button" name="cancel" class="btn btn-default" th:href="${'/employee/systems/' + id_employee}">Anuluj</a>
						<button type="submit" name="save" class="btn btn-success">Zapisz</button>
					</div>
				</div>			
			</form>
		</div>
		</div>
		</div>
		</div>
		</section>
</body>
</html>