<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<head>
	<title>Użytkownicy</title>
</head>

<body>
<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() 
		{
			var dttable = $("#dtBasicExample").dataTable(
			{
       			"iDisplayLength": 50,
        		"aLengthMenu": [[20, 50, 100, 500, 1000], [20, 50, 100, 500, 1000]],
        		"deferRender": true,
        		colReorder: true,
        		"aaSorting": [],
        		"language":{
        					"lengthMenu": "Wyświetl _MENU_ wierszy na stronę",
            				"zeroRecords": "Brak danych do wyświetlenia",
            				"info": "Strona _PAGE_ z _PAGES_",
            				"infoEmpty": "Brak danych do wyświetlenia",
            				"infoFiltered": "(wyszukane spośród _MAX_ wszystkich wierszy)",
            				"search": "Wyszukaj:",
            				"paginate": {
                						"first":      "Pierwsza",
                						"last":       "Ostatnia",
                						"next":       "Następna",
                						"previous":   "Poprzednia"
            							}
        					},
			});
    		if (document.getElementById("sorter")) 
    			{
    				dttable.fnSort( [ [0,'asc'] ] );
    				var td = document.querySelectorAll("td");
    				for (var i = 0; i < td.length; i++) 
    					{
    	    				td[i].style.whiteSpace = "nowrap";
    					}
    			}
   		});	
  	/*]]>*/
  	</script>

	<section layout:fragment="content">
	<div class="container">
	<div class='col-lg-50 col-md-50 col-sm-50' style='padding-bottom: 10px;'>	
	<div class="panel panel-default">
	<div class="panel-heading" th:text="#{employee.title}"></div><br>
	<div class="panel-body">	
		<div class="row">
			<div class="col-sm-12 col-md-12">
			
					<table id="dtBasicExample" class="table table-bordered table-sm" cellspacing="0" width="100%" >
					<!-- table-striped -->
						<thead class="thead">
							<tr bgcolor="azure"><th class="th-sm">Nazwisko</th>
												<th class="th-sm">Imię</th>
												<th class="th-sm">Zespół</th>
												<th class="th-sm">Stanowisko</th>
												<th class="th-sm">Umowy pracownika</th>
												<th class="th-sm">Systemy pracownika</th>
												<th class="th-sm">Status pracownika</th>
												<th>Umowa</th>
												<th>System</th>
							</tr>
						</thead>
						<tbody class="tbody">					
							<tr th:each="emp:${employeeList}">
								

								<td th:text="${emp.last_name}"></td>												
								<td th:text="${emp.first_name}"></td>
								
								<td th:text="${emp.team}"></td>
								<td th:text="${emp.workplace}"></td>
<!-- 								<td th:text="${emp.name_company}"></td>
								<td th:text="${emp.name_system}"></td> -->

							 	<td>
							 		<table style="line-height: 25%;">
							 			<tr th:each="a:${emp.employeeContract}">
							 				<td th:text="${a.employeeCompanyDictionary.name}"></td>
							 			</tr>
							 		</table>
							 	</td>
							 	<td>
							 		<table style="line-height: 25%" >
							 			<tr th:each="a:${emp.employeeSystems}">
							 				<td th:text="${a.employeeSystemsDictionary.name}"></td>
							 			</tr>
							 		</table>
							 	</td>	
								
<!-- 								<td>
									<table id="datatable" class="table table-striped table-bordered nowrap">
										<tr th:each="row,rowStat : ${emp.employeeSystems}">
											<td th:text="${emp.employeeSystems[__${rowStat.index}__].id_employee_systems}"></td>
										</tr>
									</table>												
								</td>	 -->
	

						
								<td th:if="${emp.employee_status == true}">Aktywny</td>	
								<td th:unless="${emp.employee_status == true}">Nie aktywny</td>		
								
								<td>						
									<a title="Umowy pracownika" th:href="${'/employee/contracts/'+emp.id_employee}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-duplicate"></span></a>	
								</td>
								<td>
									<a title="Systemy pracownika" th:href="${'/employee/systems/'+emp.id_employee}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list-alt"></span></a>	
								</td>	
							</tr>
							
							
							
							
						</tbody>
						
						

						
					</table>	
					
					<table id="datatable" class="table table-striped nowrap" style="width:10%">
					<thead>			
						<th>
							<h4><b>Opcje:</b></h4>
						</th>
					</thead>
					<tfoot class="tfoot">
					<tr>
						<td>
							<a type="button" title="Dodaj pracownika"  th:text="#{employee.add}" class='btn btn-success'  th:href="@{'/employee/employeeaddnew/'}"><span class='glyphicon glyphicon-plus'></span></a>	
						</td>
					</tr>	
					<tr>	
						<td>	
							<a type="button" title="Edytuj pracownika" th:text="#{employee.edit}" class='btn btn-info' th:href="@{'/employee/employeeedit/'}"><span class='glyphicon glyphicon-edit'></span></a>						
						</td>		
					</tr>
					<tr>	
						<td>
							<a type="button" title="Excel" th:href="${'/employee/reportEmployee/'}" th:text="#{employee.excel}" class="btn btn-success"><span class="glyphicon glyphicon-print"></span></a>	
						</td>		
					</tr>
					
					</tfoot>	
					</table>		
					
			</div>
		</div>
		</div>
		</div>
	</div>
	</div>
	</section>

</body>
</html>