<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<head>
	<title>Umowy Pracownika</title>
</head>

<body>
<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() 
		{
			var dttable = $("#datatable").dataTable(
			{
       			"iDisplayLength": 50,
        		"aLengthMenu": [[20, 50, 100, 500, 1000], [20, 50, 100, 500, 1000]],
        		"deferRender": true,
        		colReorder: true,
        		"aaSorting": [],
        		"language":{
        					"lengthMenu": "Wyświetl _MENU_ wierszy na stronę",
            				"zeroRecords": "Brak danych do wyświetlenia",
            				"info": "Strona _PAGE_ z _PAGES_",
            				"infoEmpty": "Brak danych do wyświetlenia",
            				"infoFiltered": "(wyszukane spośród _MAX_ wszystkich wierszy)",
            				"search": "Wyszukaj:",
            				"paginate": {
                						"first":      "Pierwsza",
                						"last":       "Ostatnia",
                						"next":       "Następna",
                						"previous":   "Poprzednia"
            							}
        					},
			});
    		if (document.getElementById("sorter")) 
    			{
    				dttable.fnSort( [ [0,'asc'] ] );
    				var td = document.querySelectorAll("td");
    				for (var i = 0; i < td.length; i++) 
    					{
    	    				td[i].style.whiteSpace = "nowrap";
    					}
    			}
   		});
  	/*]]>*/
  	</script>

	<div layout:fragment="content" th:remove="tag">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
					<table id="datatable" class="table table-striped table-bordered nowrap">				
						<thead class="thead">
						<tr><td th:text="${employeeOne.first_name}"></td><td th:text="${employeeOne.last_name}"></td></tr>
							<tr><th>Spółki</th><th>Systemy</th>
						</thead>
						<tbody class="tbody">				
							<tr th:each="c:${listSystems}">
														
								<!-- 				
									<td><a th:href="${'/emp/contracts/'+emp.id_employee}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list-alt"></span></a></td>
									<td><a th:href="${'/emp/systems/'+emp.id_employee}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-book"></span></a></td>								
									 -->
																				
							 	<td th:text="${c.employeeCompanyDictionary.name}"></td>
								<td th:text="${c.employeeSystemsDictionary.name}"></td> 					
<!-- 								<td th:text="${c.data_to}"></td>
								<td th:text="${c.employeeTypeOfContractDictionary.name}"></td>
								<td th:text="${c.contract_status}"></td> -->
							
								
<!-- 							<td>
									<table id="datatable" class="table table-striped table-bordered nowrap">
										<tr th:each="row,rowStat : ${emp.employeeContract}">
											<td th:text="${emp.employeeContract[__${rowStat.index}__].id_contract}"></td>
										</tr>
									</table>												
								</td>	 -->
								
		
										
							</tr>
						</tbody>
					</table>			
			</div>
		</div>
	</div>
	</div>

</body>
</html>