<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
<title>Edycja uprawnień grupy</title>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="container">
			<div class='col-lg-10 col-md-10 col-sm-10' style="width: 60%">
			<div class="panel panel-default">
			<div class="panel-heading" th:text="#{list.available.roles}"></div>
			<div class="panel-body">
			<div class="row">
			<div class="col-sm-12 col-md-12">
				<table id="datatable" class="table table-striped nowrap">				
					<thead class="thead">									
						<tr class="bg-success"><th>Imię</th><th>Nazwisko</th></tr>
						<tr style="font-size: 2.0em;"><td th:text="${user.firstName}"></td><td th:text="${user.lastName}"></td></tr>
					</thead>	
				</table>	


			<form th:action="@{${#httpServletRequest.getRequestURI()}}" th:object="${user}" th:accept-charset='UTF-8' method="post">
			<table id="dtBasicExample" class="table table-bordered table-sm" cellspacing="1" width="100%">
			<thead class="thead">
				<tr><th>Nazwa Grupy</th></tr>		
			</thead>	
			<tbody class="tbody">		
			<tr th:each="p : ${rolesdictionary}">	
				<td>
				<div class="checkbox">
	   		  		<label><input type="checkbox" th:field="*{roles}" th:value="${p.id}" th:text="${'['+p.name+']'}" th:checked="${user.roles.contains(p)}"></label>
				</div>
				</td>
			</tr>
			</tbody>
			</table>
			
				<button type="submit" name="cancel" class="btn btn-default">Anuluj</button>
				<button type="submit" name="save" class="btn btn-success">Zapisz</button>

				<input type="hidden" th:field="*{id}" class="form-control"/>
				<input type="hidden" th:field="*{firstName}" class="form-control"/>
				<input type="hidden" th:field="*{lastName}" class="form-control"/>
				<input type="hidden" th:field="*{email}" class="form-control"/>
				<input type="hidden" th:field="*{login}" class="form-control"/>
				<input type="hidden" th:field="*{password}" class="form-control"/>
				<input type="hidden" th:field="*{enabled}" class="form-control"/>

			
			</form>
			</div>
			</div>
				<div><br></div>
				<div><br></div>
			</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>