<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
<title>Edycja uprawnień grupy</title>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="container">

		<div class='col-lg-10 col-md-10 col-sm-10' style='padding-bottom: 10px;'>
			<div class="panel panel-default">
				<div class="panel-heading" th:text="#{list.available.roles}"></div>
				<div class="panel-body">
			
				<table id="datatable" class="table table-striped nowrap" style="width: 50%">				
					<thead class="thead">									
						<tr class="bg-success"><th>Imię</th><th>Nazwisko</th></tr>
						<tr style="font-size: 2.0em;"><td th:text="${user.firstName}"></td><td th:text="${user.lastName}"></td></tr>
					</thead>	
				</table>	

			<form th:action="@{${#httpServletRequest.getRequestURI()}}" th:object="${user}" th:accept-charset='UTF-8' method="post">
				
				<input type="hidden" th:field="*{id}" class="form-control"/>
				<input type="hidden" th:field="*{firstName}" class="form-control"/>
				<input type="hidden" th:field="*{lastName}" class="form-control"/>
				<input type="hidden" th:field="*{email}" class="form-control"/>
				<input type="hidden" th:field="*{login}" class="form-control"/>
				<input type="hidden" th:field="*{password}" class="form-control"/>
				<input type="hidden" th:field="*{enabled}" class="form-control"/>
				
				
				<div class="checkbox" th:each="p : ${rolesdictionary}">
	   		  		<label><input type="checkbox" th:field="*{roles}" th:value="${p.id}" th:text="${p.name}" th:checked="${user.roles.contains(p)}"></label>
				</div>


				<button type="submit" name="cancel" class="btn btn-default">Anuluj</button>
				<button type="submit" name="save" class="btn btn-success">Zapisz</button>

			</form>
			</div>
			</div>
			</div>
		</div>
	</div>

</body>
</html>