<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<head>
	<title>Nowa grupa uprawnień</title>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
	<div class="container">
	<div>
		<h4>Nowa grupa</h4>
	</div>		
		  <form th:action="@{/roles/add}" th:object="${newRole}" accept-charset='UTF-8' method="POST">	
				<div>
					<div class="row">
						<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
							<label for="name">Nazwa grupy</label>
							<input type="text" th:field="*{name}" class="form-control" required="required"/>
						</div>
					</div>
	
			
					<div class="submit">
						<button type="button" class="btn btn-default">Anuluj</button>
						<button type="submit" class="btn btn-success">Zapisz</button>
					</div>
				</div>
			</form>
		</div>
		</div>
</body>
</html>