<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<head>
	<title>Użytkownicy</title>
</head>

<body>
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() 
		{
			var dttable = $("#datatable").dataTable(
			{
       			"iDisplayLength": 50,
        		"aLengthMenu": [[20, 50, 100, 500, 1000], [20, 50, 100, 500, 1000]],
        		"deferRender": true,
        		colReorder: true,
        		"aaSorting": [],
        		"language":{
        					"lengthMenu": "Wyświetl _MENU_ wierszy na stronę",
            				"zeroRecords": "Brak danych do wyświetlenia",
            				"info": "Strona _PAGE_ z _PAGES_",
            				"infoEmpty": "Brak danych do wyświetlenia",
            				"infoFiltered": "(wyszukane spośród _MAX_ wszystkich wierszy)",
            				"search": "Wyszukaj:",
            				"paginate": {
                						"first":      "Pierwsza",
                						"last":       "Ostatnia",
                						"next":       "Następna",
                						"previous":   "Poprzednia"
            							}
        					},
			});
    		if (document.getElementById("sorter")) 
    			{
    				dttable.fnSort( [ [0,'asc'] ] );
    				var td = document.querySelectorAll("td");
    				for (var i = 0; i < td.length; i++) 
    					{
    	    				td[i].style.whiteSpace = "nowrap";
    					}
    			}
   		});
  	/*]]>*/
  	</script>

	<div layout:fragment="content" th:remove="tag">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
			
				<form th:action="@{${#httpServletRequest.getRequestURI()}}" th:object="${editUser}" th:accept-charset='UTF-8' method="post">
				<div>
							<div class="row">						
								<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
									<label for="firstName">Imie</label>
									<input type="text" th:field="*{firstName}" class="form-control"/>
								</div>
							</div>	
							<div class="row">						
								<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
									<label for="lastName">Nazwisko</label>
									<input type="text" th:field="*{lastName}" class="form-control"/>
								</div>
							</div>   
			
					<table id="datatable" class="table table-striped table-bordered nowrap">
					
						<thead class="thead">
						    <tr><th>Id</th><th>Dostępne role</th><th>TAK/NIE</th></tr>
						</thead>
						<tbody class="tbody">					
							<tr th:each="role:${roleList}">
														
								
								
									

								<td th:text="${role.id}"></td>	
								<td th:text="${role.name}"></td>	
								<td>
									<input type="checkbox" th:value="${role.id}" />				
								</td>									
							
							
												
							</tr>
						</tbody>
					</table>		
					
							<div class="submit">
								<button type="submit" name="cancel" class="btn btn-default">Anuluj</button>
								<button type="submit" name="save" class="btn btn-success">Zapisz</button>
							</div>
				</div>
				</form>	
			</div>
		</div>
	</div>
	</div>
</body>
</html>