<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<head>
	<title>Edycja uprawnień grupy</title>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">

	<div class="container">

	<div class='col-lg-10 col-md-10 col-sm-10' style='padding-bottom: 10px;'>
			<div class="panel panel-default">
				<div class="panel-heading" th:text="#{list.available.privileges}"></div>
				<div class="panel-body">
		
				<table id="datatable" class="table table-striped nowrap" style="width: 50%">				
					<thead class="thead">									
						<tr class="bg-success"><th>Nazwa Grupy</th></tr>
						<tr style="font-size: 2.0em;"><td th:text="${role.name}"></td></tr>
					</thead>	
				</table>	
						
		<form action="#" th:action="@{${#httpServletRequest.getRequestURI()}}" th:object="${privilegeForm}" method="post">

<!--                 <ul class="list-group">
						 <li class="list-group-item" data-toggle="list" th:each="privilege, itemStat : ${privilegeForm.privileges}" th:id="${privilege.getId()}" th:value="${privilege.getName()}" th:text="${privilege.getName()}"></li>
                    <li class="list-group-item" data-toggle="list" th:each="row, rowStat : *{privileges}" th:id="*{privileges[__${rowStat.index}__].id}" th:text="*{privileges[__${rowStat.index}__].name}"></li>
                </ul>

        	 -->
        		<!-- <input type="hidden" th:field="*{role.name}" class="form-control"/> -->
        					
				<div class="checkbox" th:each="p : ${allprivilegesDictionary}">
	   		  		<label><input type="checkbox" th:field="*{privileges}" th:value="${p.id}" th:text="${p.name}" th:checked="${privilegeForm.privileges.contains(p)}"></label>
				</div>

             <div class="submit">
				<button type="submit" name="cancel" class="btn btn-default">Anuluj</button>
				<button type="submit" name="save" class="btn btn-success">Zapisz</button>
			</div>
        </form>        	
	</div>
	</div>
	</div>
	</div>
	</div>
</body>
</html>