<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
	<title>Uzytkownik</title>
</head>

<body>
	<section layout:fragment="content">
	<div class="container">
		<div class='col-lg-10 col-md-10 col-sm-10' style='padding-bottom: 10px;'>
			<div class="panel panel-default">
				<div class="panel-heading" th:text="#{user.edit}"></div>
				<div class="panel-body">

					<form th:action="@{${#httpServletRequest.getRequestURI()}}" th:object="${editUser}" th:accept-charset='UTF-8' method="post">
						<div>
						<input type="hidden" th:field="*{id}" class="form-control"/>

						
							<div class="row">						
								<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
									<label for="firstName">Imie</label>
									<input type="text" th:field="*{firstName}" class="form-control"/>
								</div>
							</div>	
							
							<div class="row">						
								<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
									<label for="lastName">Nazwisko</label>
									<input type="text" th:field="*{lastName}" class="form-control"/>
								</div>
							</div>	
							
							<div class="row">						
								<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
									<label for="login">Login</label>
									<input type="text" th:field="*{login}" class="form-control"/>
								</div>
							</div>	
							
							<div class="row">						
								<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
									<label for="enabled">Enabled</label>
									<input type="text" th:field="*{enabled}" class="form-control"/>
								</div>
							</div>	
							
							<div class="row">						
								<div class='col-lg-6 col-md-6 col-sm-6' style='padding-bottom: 10px;'>
									<label for="email">Email</label>
									<input type="text" th:field="*{email}" class="form-control"/>
								</div>
							</div>	
							
							
							
<!--  							<div class="row">
							<tr th:each="users:${editUser}">	
						
											
									<table id="datatable" class="table table-striped table-bordered nowrap">
										<tr th:each="row,rowStat : ${users.roles}">
											<td th:text="${users.roles[__${rowStat.index}__].name}"></td>
										</tr>
									</table>
							</tr>
							</div> -->
							
							
							<div class="submit">
								<button type="submit" name="cancel" class="btn btn-default">Anuluj</button>
								<button type="submit" name="save" class="btn btn-success">Zapisz</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</section>
</body>
</html>