<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<head>
	<title>Grupy uprawnień</title>
</head>

<body>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() 
		{
			var dttable = $("#datatable").dataTable(
			{
       			"iDisplayLength": 50,
        		"aLengthMenu": [ [20, 50, 100, 500, 1000], [20, 50, 100, 500, 1000] ],
        		"deferRender": true,
        		colReorder: true,
        		"aaSorting": [],
        		"language":{
        					"lengthMenu": "Wyświetl _MENU_ wierszy na stronę",
            				"zeroRecords": "Brak danych do wyświetlenia",
            				"info": "Strona _PAGE_ z _PAGES_",
            				"infoEmpty": "Brak danych do wyświetlenia",
            				"infoFiltered": "(wyszukane spośród _MAX_ wszystkich wierszy)",
            				"search": "Wyszukaj:",
            				"paginate": {
                						"first":      "Pierwsza",
                						"last":       "Ostatnia",
                						"next":       "Następna",
                						"previous":   "Poprzednia"
            							}
        					},
			});
    		if (document.getElementById("sorter")) 
    			{
    				dttable.fnSort( [ [0,'asc'] ] );
    				var td = document.querySelectorAll("td");
    				for (var i = 0; i < td.length; i++) 
    					{
    	    				td[i].style.whiteSpace = "nowrap";
    					}
    			}
   		}
  	/*]]>*/
  	</script>
  	<div layout:fragment="content" th:remove="tag">	
	<div class="container">
	<div class='col-lg-50 col-md-50 col-sm-50' style='padding-bottom: 10px;'>
		<div class="panel panel-default">
		<div class="panel-heading" th:text="#{roles.name}"></div>
		<div class="panel-body">	
		<div class="row">
		<div class="col-sm-12 col-md-12">
				
					<table id="dtBasicExample" class="table table-bordered table-sm" cellspacing="1" width="100%">
						<thead class="thead">
							<tr><th><a title="Nowa grupa" class='btn btn-warning btn-xs' th:href="@{/roles/add}"><span class='glyphicon glyphicon-plus'></span></a></th>
							    <th>Nazwa grupy</th>
							    <th>Nazwa uprawnienia</th>							
							</tr>
						</thead>
						<tbody class="tbody">					
							<tr th:each="roles:${roleList}">
								
								<!-- Modalne okno kasowania  -->
								<div class="modal fade" th:id="delete+${roles.Id}" role="dialog">
								<div class='modal-dialog'>
								<div class='modal-content'>
								<div class='modal-header'>
									<h4 class='modal-title'>Uwaga!</h4>
									<button type='button' class='close' data-dismiss='modal'>&times;</button>									
								</div>																		
								<div class='modal-body'>
										<h6 class='modal-title'>Czy na pewno usunąć grupę?</h6>
								</div>
								<div class='modal-footer'>
										<button type='button' class='btn btn-default' data-dismiss='modal'>Anuluj</button>
										<a th:href="${'/roles/delete/'+ roles.Id}" class='btn btn-success'>OK</a>
									</div>
								</div>
								</div>
								</div>
	    						<!-- Koniec -->
								
							
								<td style="width: 10%">				
									<button type='button' class="btn btn-danger btn-xs" data-toggle="modal" th:attr="data-target='#delete'+${roles.Id}"><span class="glyphicon glyphicon-remove"></span></button>
									<a th:href="${'/roles/edit/'+roles.Id}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>								
									<a th:href="${'/roles/editprivileges/'+roles.Id}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-list"></span></a>
								</td>															
							<!-- 	<td th:hidden="${roles.Id}"></td> -->
								<td th:text="${'['+roles.name+']'}"></td>
								
							 	<td>
							 		<table style="line-height: 10%;">
							 			<tr th:each="a:${roles.privileges}">
							 				<td style="width: 12em" th:text="${'['+a.name}+']'"></td>
							 			</tr>
							 		</table>
							 	</td>	
				
							</tr>
						</tbody>
					</table>			
					<div><br></div>	
					
			</div>
		</div>
	</div>
	</div>
	</div>
		</div>
	</div>
</body>
</html>