<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<head>
	<title>Użytkownicy</title>
</head>

<body>
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() 
		{
			var dttable = $("#datatable").dataTable(
			{
       			"iDisplayLength": 50,
        		"aLengthMenu": [[20, 50, 100, 500, 1000], [20, 50, 100, 500, 1000]],
        		"deferRender": true,
        		colReorder: true,
        		"aaSorting": [],
        		"language":{
        					"lengthMenu": "Wyświetl _MENU_ wierszy na stronę",
            				"zeroRecords": "Brak danych do wyświetlenia",
            				"info": "Strona _PAGE_ z _PAGES_",
            				"infoEmpty": "Brak danych do wyświetlenia",
            				"infoFiltered": "(wyszukane spośród _MAX_ wszystkich wierszy)",
            				"search": "Wyszukaj:",
            				"paginate": {
                						"first":      "Pierwsza",
                						"last":       "Ostatnia",
                						"next":       "Następna",
                						"previous":   "Poprzednia"
            							}
        					},
			});
    		if (document.getElementById("sorter")) 
    			{
    				dttable.fnSort( [ [0,'asc'] ] );
    				var td = document.querySelectorAll("td");
    				for (var i = 0; i < td.length; i++) 
    					{
    	    				td[i].style.whiteSpace = "nowrap";
    					}
    			}
   		});
  	/*]]>*/
  	</script>

	<div layout:fragment="content" th:remove="tag">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
					<table id="dtBasicExample" class="table table-bordered table-sm" cellspacing="1" width="100%">
						<thead class="thead">
							<tr><th><a title="Nowy uzytkownik" class='btn btn-warning btn-xs' th:href="@{/registration}"><span class='glyphicon glyphicon-plus'></span></a></th><th>Id</th><th>Login</th><th>Imie</th><th>Nazwisko</th><th>Aktywny</th><th>Grupa użytkownika</th></tr>
						</thead>
						<tbody class="tbody">					
							<tr th:each="users:${userList}">
														
								
								<td>				
									<a th:href="${'/users/edit/'+users.id}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>	
									<a th:href="${'/users/roles/'+users.id}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-cog"></span></a>								
								</td>			
								<td th:text="${users.id}"></td>												
								<td th:text="${users.login}"></td>
								<td th:text="${users.firstName}"></td>
								<td th:text="${users.lastName}"></td>
								<td th:text="${users.enabled == true} ? 'Aktywny' : 'Nieaktywny' "></td>
								
								<td>
									<table style="line-height: 25%;">
										<tr th:each="row:${users.roles}">
											<td style="font-size:85%" th:text="${'['+row.name+']'}"></td>
										</tr>
									</table>												
								</td>										
							</tr>
						</tbody>
					</table>	
	
			</div>
		</div>
	</div>
	</div>
</body>
</html>