<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <p>
               
                <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                   
                      <b><span th:text="#{roles.name}"></span>:</b> 
                         <span th:each="a: ${#authentication.principal.authorities}" th:text="${#strings.contains(a, 'TRAK')} ? ${'[' + a + ']' + ' '}"></span>
                         <br>
                          &copy; trak.pzu.pl
                </span> 
            </p>
        </div>
    </footer>



</th:block>
</body>
</html>